@import "../../styles/variables";

.red {
  background-color: $color-primary-red;
  padding: 1rem 2rem;
  color: white;
  border-radius: 0.5rem;
  border: 2px solid $color-primary-red;
  transition: 0.2s;
  &:hover {
    background-color: white;
    color: $color-primary-red;
  }
}
