@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/fonts";

.section {
  background-color: $color-primary-blue;
  color: white;
  padding: 5rem 0;
}
.container {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media(desktop) {
    width: 50%;
  }
}

.text {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding-bottom: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  @include media(desktop) {
    width: 60%;
  }
}

.form {
  padding: 2rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
  @include media(desktop) {
    flex-wrap: nowrap;
    width: 80%;
  }
}

.input {
  font-size: 18px;
  color: black;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  width: 100%;
  position: relative;
  z-index: 3;
  @include media(desktop) {
    // width: 450px;
  }

  &::placeholder {
    color: #3c3c3c26;
  }
  &:focus {
    outline: none;
  }
}

.inputWrapp {
  position: relative;
  flex-grow: 1;
}

.err {
  position: relative;
  padding: 8px 4px 4px;
  bottom: 10px;
  border-radius: 0.5rem;
  left: 0;
  background-color: $color-primary-red;
  z-index: 0;
  // width: 450px;
}

.btn {
  padding: 1rem 2rem;
  font-size: 16px;
  font-family: $font-rubik;
  color: white;
  border-radius: 0.5rem;
  box-shadow: -2px 9px 20px -3px $color-secendary-gray;
  transition: 0.2s;
  background-color: $color-primary-red;
  border: 2px solid $color-primary-red;
  width: 100%;
  @include media(desktop) {
    width: auto;
    flex-shrink: 0;
    align-self: flex-start;
  }

  &:hover {
    background-color: white;
    color: $color-primary-red;
  }
}
