@import "../../styles/mixins";
@import "../../styles/variables";
.navList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  cursor: pointer;
  transition: 0.2s;
}

.itemList {
  text-transform: uppercase;
  padding-left: 4rem;
  letter-spacing: 0.1rem;
  &:hover {
    color: $color-primary-red;
  }
}
