@import "../../styles/variables";
.wrapper {
  border-bottom: 1px solid $color-secendary-gray;
}
.text {
  padding: 2rem 3rem;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    color: $color-primary-red;
  }
}
