@import "../../styles/variables";
@import "../../styles/mixins";

.wrapper {
  width: 100%;
  border-bottom: 1px solid $color-secendary-gray;

  display: flex;
  justify-content: center;
  align-items: center;
  @include media(desktop) {
    display: block;
    width: auto;
  }
}
.text {
  text-align: center;
  padding: 2rem 0;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    color: $color-primary-red;
  }
  @include media(desktop) {
    padding: 2rem 3rem;
  }
}
