@import "../../styles/mixins";

.container {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.menu {
  display: none;
  @include media(desktop) {
    display: block;
  }
}

.menuMobile {
  @include media(desktop) {
    display: none;
  }
}
