@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.footer {
  background-color: $color-secendary-blue;
  padding: 3rem 0;
}

.svg {
  &:hover {
    .icon {
      fill: $color-primary-red;
    }
  }
  cursor: pointer;
}

.wrapp {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
